Post {
    layout: horizontal;
    padding: 1;
    height: 5;
}

Post:focus {
    background: grey;
}

.logged #login {
    display: none;
}

#lemmyview {
    layout: vertical;
    display: none;
}

.logged #lemmyview {
    display: block;
}

PostView {
    height: 4fr;
}

RichLog {
    height: 7;
}

#search {
    min-height: 6;
    layout: grid;
    grid-size: 3;
    display: none;
}

#search.searching {
    display: block;
}

#query {
    column-span: 3;
}

.dropdown {
    height: 100%;
}
